build/
cmake-build-*/
versions/*_build/
*.user
*.pro.user
*.obj
*.o
*.exe
*.dll
*.a
*.lib
*.pdb
*.ilk
*.autosave

xpdf-tools/
xpdf-tools-win-4.06.zip
assignment_extracted.txt
assignment_extracted_utf8.txt

厨房场景*.png
